#mainnavbar{width: 100%;}
.navbar-brand{padding:0;}
.navbar-brand img{height: 100%;}
.navbar{margin-bottom: 0; }
#navbarwebname{line-height: 100%;font-size: 45px;color: #008080;}
#sign{background: #eee;margin: auto;width: 70%;padding:1rem;}
#sign .colorgraph {height: 5px; border-top: 0;background: #c4e17f;border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);}
#sign .signinform{display: none;}

.maincontent{width: 96%;margin: auto;clear: both;}
#userstatus .human img{height:10rem;}
#userstatus table{background: white;border: 1px solid #eee;box-shadow: 2px 2px 3px #ccc;}
#timeline{background: #eee;}
#timeline .moment{width: 80%;height: 5rem;background: white;
	box-shadow: 2px 2px 3px #ccc;margin: 1rem;padding:0.5rem;}
#timeline .col-md-9{background: white;}